
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  background-color: #6464bf0d;
  padding: 20px;
  text-align: center;
}

.home h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}

.home p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 40px;
}


select {
  padding: 12px;
  font-size: 1rem;
  width: 100%;
  max-width: 350px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  transition: border-color 0.3s ease-in-out;
}

select:focus {
  outline: none;
  border-color: #4CAF50;
}

h2 {
  font-size: 1.8rem;
  color: #333;
  margin: 0px 0 15px;
}

.home a {
  display: inline-block;
  padding: 12px 20px;
  font-size: 1.1rem;
  text-decoration: none;
  background-color: #1ab14fc3;
  color: white;
  border-radius: 5px;
  width: 100%;
  max-width: 350px;
  text-align: center;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;
}

.home a:hover {
  background-color: #45a049;
}
